@import url(grid/navbar.css); /* Navbar */
@import url(grid/form.css); /* Form */
@import url(grid/table.css); /* Table */
@import url(grid/footer.css); /* Footer */
@import url(grid/button.css); /* Variáveis */
@import url(grid/checkbox.css); /* Checkbox */

/* Variáveis */

:root {
    --fonte-principal: 'Noto Sans', sans-serif;
    --fonte-secundaria: ;

    --cor-principal: #27374D;
    --cor-secundaria: #526D82;
    --cor-fonte-principal: #000000;
    --cor-fonte-secundaria: #FFFFFF;
    --cor-de-fundo-principal: #9DB2BF;
    --cor-de-fundo-secundaria: #DDE6ED;
}

/* Estilos gerais */

body {
    font-family: var(--fonte-principal);
    font-size: 16px;
    color: var(--cor-fonte-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Para garantir que o footer fique no final da tela */
}

.titulo-principal {
    color: var(--cor-principal);
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
    padding: 20px 0;
}

main {
    flex: 1; /* Para que o main ocupe todo o espaço disponível */
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}